
<div class="container mb-6">
    <div class="grid justify-content-center">
        <div class="row">
            <div class="col">
                <div class="flex align-items-center justify-content-center mb-4">
                    <div class="flex flex-column justify-content-center align-items-center">
                        <span>OUR AWESOME TEAM</span>
                        <p-divider></p-divider>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="grid">
        <div class="col-5 ml-6">
            <div class="card">
                <div class="flex ml-8 flex-row flex-wrap card-container blue-container">
                    <div class="flex flex-column bg-gray-100 font-bold text-gray-800 border-round m-2">
                        <img src="../../assets/images/image-1.jpg" alt="" srcset="" width="450">
                        <div class="flex flex-row justify-content-start">
                            <div class="flex flex-column ml-4 align-items-center justify-content-center mt-3">
                                <div>21</div>
                                <div>MEI</div>
                            </div>
                            <div class="flex ml-4 align-items-start mt-3">
                                <div>LOREM IPSUM DOLOR SIT AMET CONTEXT TULAR TUTURTINULAR</div>
                            </div>
                        </div>
                        <div class="flex flex-row justify-content-start">
                            <div class="flex ml-4 align-items-start mt-3">
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pretium non mi eu condimentum. Aliquam ac nisl eleifend, pellentesque turpis sit amet, consectetur odio. Phasellus erat nisl, vulputate nec purus sed, sollicitudin dapibus elit</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="flex flex-row flex-wrap card-container blue-container justify-content-start">
                    <div class="flex flex-column align-items-center justify-content-center bg-blue-500 font-bold text-white border-round m-2">
                        <img src="../../assets/images/image-1.jpg" alt="" srcset="" class="w-16rem justify-content-center">
                        <div>
                            <p>JOHN SMITH</p>
                        </div>
                        <div>Designer</div>
                        <p-divider></p-divider>

                    </div>
                </div>
            </div>

        </div>


    </div>

</div>

