<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="card mb-3 p-0" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <svg class="bd-placeholder-img img-fluid rounded-start" width="100%" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image</text></svg>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{passenger?.name}}</h5>
                        <p class="card-text"><small class="badge text-bg-primary">id: {{passenger?.id}}, city: {{passenger?.city}}</small></p>
                        <button class="btn btn-success" (click)="backToPassengers()">Back to Passengers page</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>