<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">City</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody *ngFor="let passenger of passengers">
        <tr>
            <td>{{passenger.id}}</td>
            <td>{{passenger.name}}</td>
            <td>{{passenger.city}}</td>
            <td>
                <button class="btn btn-warning btn-sm mx-1" (click)="onEditPassenger()">Edit</button> | 
            </td>
        </tr>
    </tbody>
</table>