<div class="row">
    <div class="col-md-4">
        <app-add-passenger
            (passengerAdded)="onPassengerAdd($event)"
        ></app-add-passenger>
    </div>
    <div class="col-md-4">
        <app-single-passenger
            [passengers]="passengers"
            (passengerEdited)="onPassengerEdited($event)"
        ></app-single-passenger>
    </div>
    <div class="col-md-4">
        <app-edit-passenger
            *ngIf="editPassengerDetails"
            [passenger]="editPassengerDetails">
        </app-edit-passenger>
    </div>
</div>