<div class="container mb-6">
    <div class="grid justify-content-center">
        <div class="row">
            <div class="col">
                <div class="flex align-items-center justify-content-center mb-4">
                    <div class="flex flex-column justify-content-center align-items-center">
                        <span>OUR AWESOME TEAM</span>
                        <p-divider></p-divider>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="grid justify-content-center">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="flex flex-row flex-wrap card-container blue-container justify-content-center">
                        <div class="flex flex-column align-items-center justify-content-center bg-blue-500 font-bold text-white border-round m-2">
                            <img src="../../assets/images/image-1.jpg" alt="" srcset="" class="w-16rem justify-content-center">
                            <div>
                                <p>JOHN SMITH</p>
                            </div>
                            <div>Designer</div>
                            <p-divider></p-divider>

                        </div>
                        <div class="flex flex-column align-items-center justify-content-center bg-blue-500 font-bold text-white border-round m-2">
                            <img src="../../assets/images/image-1.jpg" alt="" srcset="" class="w-16rem justify-content-center">
                            <div>
                                <p>JOHN SMITH</p>
                            </div>
                            <div>Designer</div>
                            <p-divider></p-divider>

                        </div>
                        <div class="flex flex-column align-items-center justify-content-center bg-blue-500 font-bold text-white border-round m-2">
                            <img src="../../assets/images/image-1.jpg" alt="" srcset="" class="w-16rem justify-content-center">
                            <div>
                                <p>JOHN SMITH</p>
                            </div>
                            <div>Designer</div>
                            <p-divider></p-divider>

                        </div>
                        <div class="flex flex-column align-items-center justify-content-center bg-blue-500 font-bold text-white border-round m-2">
                            <img src="../../assets/images/image-1.jpg" alt="" srcset="" class="w-16rem justify-content-center">
                            <div>
                                <p>JOHN SMITH</p>
                            </div>
                            <div>Designer</div>
                            <p-divider></p-divider>

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>

